<!DOCTYPE html>
<html>
  <head>
    <title>My dev skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My dev skills</h1>
    <nav>
      <a href="/skills">Skill List</a>
    </nav>